.bootstrap {
    #carouselExampleCaptions {
        margin-bottom: 10px;
        position: relative;

        .carousel-inner {

            .carousel-item {
                background-color: #343a40;

                img {
                    height: 100%;
                    max-height: 100vh;
                    opacity: 0.7;
                }

                .carousel-caption {
                    bottom: 200px;
                    position: absolute;
                    color: #fff;
                    text-align: start;

                    h5 {
                        font-size: 35px;
                        font-family: "Sacramento";
                    }

                    h1 {
                        font-size: 2rem;
                        margin-top: 0;
                        margin-bottom: 0.5rem;
                        font-weight: 600;
                        line-height: 1.2;
                    }

                    .lorem {
                        width: 100%;
                        max-width: 500px;
                        font-size: 11px;
                    }

                    .adopt {
                        display: inline-block;
                        font-weight: 400;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: middle;
                        user-select: none;
                        border: 1px solid transparent;
                        padding: 0.675rem 1.2rem;
                        font-size: 1rem;
                        line-height: 1.5;
                        border-radius: 4px;
                        background-color: #bc5148;
                        color: #fff;

                    }
                }

                // carousel-caption
            }

            // carousel-item
        }

        // carousel-inner
    }

    //    carouselExampleCaptions





}

// bootstrap





.family {
    padding-bottom: 50px;

    .contant {
        width: 100%;
        max-width: 1170px;
        display: flex;
        margin: 0 auto;

        .family_img {
            width: 50%;

            .lorem {
                font-size: 16px;
                line-height: 1.8;
                color: #868e96;
                margin: 30px 0;
            }

            .family_btn {
                display: inline-block;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                user-select: none;
                border: 1px solid #bc5148;
                padding: 0.675rem 1.2rem;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: 4px;
                background-color: #fff;
                color: #bc5148;
                margin-bottom: 20px;

                &:hover {
                    background-color: #bc5148;
                    color: #fff;
                    transition: 300ms;
                }
            }
        }

        .family_text {
            width: 50%;

            .steps {
                font-family: inherit;
                font-weight: 500;
                line-height: 1.2;
                font-size: 20px;
                font-weight: 600;
            }

            .box {
                display: block;
                text-align: left;
                border: 1px solid #868e96;
                padding: 0.675rem 1.2rem;
                font-size: 1rem;
                line-height: 1.5;
                margin-top: 10px;
                width: 100%;
                background: none;

                &:hover {
                    color: #bc5148;
                    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
                }

                .lorem {
                    display: none;
                    font-size: 16px;
                    line-height: 1.8;
                    color: #868e96;
                    margin-top: 10px;
                }
            }
        }
    }
}

// family

.waiting_apI {
    .contant {
        width: 100%;
        padding: 50px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .lorem {
            max-width: 700px;
            width: 100%;
            font-size: 16px;
            font-weight: 200;
            color: #868e96;
            padding: 20px;
        }

        .find_btn {
            background-color: #bc5148;
            border-color: #bc5148;
            color: #fff;
            border: 1px solid transparent;
            padding: 0.675rem 1.2rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 4px;
            max-width: 300px;
            width: 100%;
        }

        .card_box {
            margin-top: 100px;
            display: flex;
            gap: 30px;

            .card {
                .card_img {
                    img {
                        width: 100%;

                    }
                }

                .card_text {
                    display: flex;
                    align-items: center;
                    padding: 5px 10px;
                    h3{
                        // width: 50%;
                        font-size: 12px;
                    }
                    p {
                        font-size: 10px;
                        color: #868e96;
                        margin-top: 10px;

                    }

                }
            }
        }
    }
}

// waiting_apI



@media only screen and (max-width: 768px) {
    .family {
        width: 100%;

        .contant {
            width: 100%;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .family_img {
                width: 100%;

                .lorem {
                    width: 100%;
                    max-width: 450px;
                }
            }

            .family_text {
                width: 100%;
            }
        }
    }


}
















@media (min-width: 768px) {
    .carousel-caption {
        bottom: 12% !important;

        h5 {
            font-size: 40px !important;
        }

        h1 {
            font-size: 25px !important;
        }

        .lorem {
            font-size: 20px !important;
        }

        .adopt {
            font-size: 20px !important;
            padding: 1.0rem 1.2rem !important;
        }
    }
}