* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Epilogue";
  font-style: normal;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}
.container .container_all {
  max-width: 1170px;
  margin: 0 auto;
}
.container .container_all .container_contant {
  padding: 16px 35px;
  width: 100%;
  background: #28293E;
}
.container .container_all .container_contant header {
  width: 100%;
  height: 880px;
  color: white;
}
.container .container_all .container_contant header .box1 {
  padding-top: 120px;
  display: flex;
}
.container .container_all .container_contant header .box1 .box1_text1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.container .container_all .container_contant header .box1 .box1_text1 .modern {
  border-radius: nullpx;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  color: #EF6D58;
}
.container .container_all .container_contant header .box1 .box1_text1 .help {
  border-radius: nullpx;
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: left;
  letter-spacing: -2px;
  color: #FFFFFF;
  padding-top: 24px;
}
.container .container_all .container_contant header .box1 .box1_text1 .agency {
  border-radius: nullpx;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(255, 255, 255, 0.64);
  padding-top: 24px;
}
.container .container_all .container_contant header .box1 .box1_text1 .btn_1 {
  padding-top: 24px;
}
.container .container_all .container_contant header .box1 .box1_text1 .btn_1 .how_we_work {
  width: 154px;
  left: 0px;
  top: 0px;
  border-radius: 6px;
  background: #EF6D58;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px;
}
.container .container_all .container_contant header .box1 .box1_text1 .btn_1 .contact_us {
  width: 88px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  background-color: #28293E;
}
.container .container_all .container_contant header .box1_images {
  width: 50%;
}
.container .container_all .container_contant header .box1_images .img_box1 {
  width: 100%;
  max-width: 570px;
}
.container .container_all .container_contant header .profil {
  max-width: 400px;
  display: flex;
  padding-top: 20px;
  align-items: center;
}
.container .container_all .container_contant header .profil img {
  max-width: 48px;
  height: 48px;
}
.container .container_all .container_contant header .profil .profil_text {
  padding-left: 10px;
}
.container .container_all .container_contant header .profil .profil_text .put {
  max-width: 327px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.64);
}
.container .container_all .container_contant header .profil .profil_text .meta {
  max-width: 72px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}
.container .container_all {
  max-width: 1170px;
  margin: 0 auto;
}
.container .container_all .container_contant {
  padding: 16px 35px;
  width: 100%;
  background: #28293E;
}
.container .container_all .container_contant header {
  width: 100%;
  height: 880px;
  color: white;
}
.container .container_all .container_contant header .navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .container_all .container_contant header .navbar .navbar_logo {
  box-sizing: border-box;
  padding-top: 16px;
  width: 152px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 24px;
}
.container .container_all .container_contant header .navbar .navbar_title {
  width: 515px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  padding-top: 28px;
  line-height: 32px;
}
.container .container_all .container_contant header .navbar .navbar_title ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  color: #FFFFFF;
}
.container .container_all .container_contant header .navbar .navbar_contact_btn {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 6px;
}
.container .container_all .container_contant header .navbar .navbar_contact_btn button {
  padding: 10px;
  background-color: #28293E;
  color: white;
}
.container .container_all .container_contant header .navbar .navbar_contact_btn .menu {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}
.container .container_all {
  max-width: 1170px;
  margin: 0 auto;
}
.container .container_all main {
  max-width: 1440px;
}
.container .container_all main .main_section1 {
  max-width: 1440px;
  background: #FDF0E9;
}
.container .container_all main .main_section1 .section1 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 35px;
}
.container .container_all main .main_section1 .section1 .design_agency .design_agency__logo {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 73px 0;
}
.container .container_all main .main_section1 .section1 .design_agency .design_agency__logo .logo_group_1 {
  display: flex;
  gap: 146px;
}
.container .container_all main .main_section1 .section1 .design_agency .design_agency__logo .logo_group_1 .digitalside {
  max-width: 147px;
  width: 100%;
}
.container .container_all main .main_section1 .section1 .line img {
  width: 100%;
}
.container .container_all main .main_section1 .section1 .design {
  padding-top: 116px;
  display: flex;
  gap: 130px;
}
.container .container_all main .main_section1 .section1 .design .design_img {
  width: 50%;
}
.container .container_all main .main_section1 .section1 .design .design_text {
  width: 50%;
}
.container .container_all main .main_section1 .section1 .design .design_text .about {
  width: 100%;
  max-width: 62px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section1 .design .design_text .experience {
  width: 100%;
  max-width: 417px;
  font-weight: 800;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .design .design_text .provides {
  width: 100%;
  max-width: 277px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .design .design_text .ability {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.container .container_all main .main_section1 .section1 .design .design_text .about_us {
  background: #FFFFFF;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  padding: 10px;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .design_number {
  margin-top: 161px;
  margin-bottom: 140px;
  display: flex;
  border: 1px solid #F3D1BF;
  border-radius: 6px 0px 0px 6px;
}
.container .container_all main .main_section1 .section1 .design_number .design_number_table {
  border-left: 1px solid #F3D1BF;
  padding: 45px 48px;
  box-sizing: border-box;
  width: 100%;
  max-width: 391px;
}
.container .container_all main .main_section1 .section1 .design_number .design_number_table .number {
  padding-bottom: 13px;
  max-width: 77px;
  width: 100%;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .design_number .design_number_table .number_text {
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .design_makeing {
  display: flex;
}
.container .container_all main .main_section1 .section1 .design_makeing .design_makeing_text {
  width: 50%;
}
.container .container_all main .main_section1 .section1 .design_makeing .design_makeing_text .how_we_work {
  width: 100%;
  max-width: 157px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section1 .design_makeing .design_makeing_text .making_your {
  width: 100%;
  max-width: 448px;
  font-weight: 800;
  font-size: 35px;
  line-height: 48px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .design_makeing .design_makeing_text .technical {
  max-width: 430px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.container .container_all main .main_section1 .section1 .design_makeing .design_makeing_text .read_more {
  width: 100%;
  max-width: 84px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .design_makeing .design_makeing_number {
  width: 50%;
  padding-top: 72px;
}
.container .container_all main .main_section1 .section1 .design_makeing .design_makeing_number .design_makeing_number_text {
  width: 100%;
  display: flex;
  gap: 66px;
  align-items: center;
}
.container .container_all main .main_section1 .section1 .design_makeing .design_makeing_number .design_makeing_number_text .first_number {
  max-width: 34px;
  width: 100%;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .design_makeing .design_makeing_number .design_makeing_number_text .first_number_text {
  max-width: 334px;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .unlock {
  padding-top: 127px;
  width: 100%;
  display: flex;
  gap: 100px;
}
.container .container_all main .main_section1 .section1 .unlock .unlock_img {
  width: 50%;
}
.container .container_all main .main_section1 .section1 .unlock .unlock_img .bitmap {
  width: 100%;
}
.container .container_all main .main_section1 .section1 .unlock .unlock_img .oval {
  box-sizing: border-box;
  left: 130px;
  top: 2737px;
}
.container .container_all main .main_section1 .section1 .unlock .unlock_img .triange {
  left: 273px;
  border-radius: 2px;
  margin-top: 11px;
  left: 273px;
  bottom: 167px;
  position: absolute;
  height: 34px;
}
.container .container_all main .main_section1 .section1 .unlock .unlock_text {
  width: 50%;
  padding-top: 60px;
}
.container .container_all main .main_section1 .section1 .unlock .unlock_text .video_reel {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section1 .unlock .unlock_text .possible {
  max-width: 469px;
  width: 100%;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .unlock .unlock_text .business {
  width: 470px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.container .container_all main .main_section1 .section1 .site {
  display: flex;
}
.container .container_all main .main_section1 .section1 .site .site_text {
  width: 50%;
}
.container .container_all main .main_section1 .section1 .site .site_text .features {
  width: 93px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section1 .site .site_text .new_look {
  max-width: 397px;
  width: 100%;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #391400;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .container_all main .main_section1 .section1 .site .site_text .service {
  width: 470px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .site .site_text .site_list_ul {
  list-style-type: none;
  margin-top: 26px;
}
.container .container_all main .main_section1 .section1 .site .site_text .site_list_ul li {
  display: flex;
  list-style-type: none;
  gap: 20px;
  text-align: center;
}
.container .container_all main .main_section1 .section1 .site .site_text .site_list_ul li .li_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.container .container_all main .main_section1 .section1 .site .site_text .site_list_ul li i {
  margin-bottom: 13px;
  border-radius: 50%;
  color: #FDF0E9;
  background: #EF6C57;
  border: none;
  border: 1px solid #EF6C57;
}
.container .container_all main .main_section1 .section1 .site .site_text .site_img {
  width: 50%;
}
.container .container_all main .main_section1 .section1 .card {
  display: flex;
}
.container .container_all main .main_section1 .section1 .card .card_text {
  width: 50%;
}
.container .container_all main .main_section1 .section1 .card .card_text .card_features {
  max-width: 93px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section1 .card .card_text .long {
  max-width: 370px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .card .card_text .card_read {
  max-width: 84px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .card .card_box {
  width: 50%;
  display: flex;
}
.container .container_all main .main_section1 .section1 .card .card_box .professional {
  padding: 20px;
  width: 50%;
  max-width: 336px;
  background: #FFFFFF;
  border: 1px solid #F3D1BF;
  box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
  border-radius: 6px 6px 0px 6px;
}
.container .container_all main .main_section1 .section1 .card .card_box .professional .oval_1 {
  position: relative;
}
.container .container_all main .main_section1 .section1 .card .card_box .professional .shape_1 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 707px;
  top: 4232px;
  background: #000000;
}
.container .container_all main .main_section1 .section1 .card .card_box .professional .card_box_text {
  padding-top: 20px;
  max-width: 154px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .card .card_box .professional .same {
  max-width: 240px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.container .container_all main .main_section1 .section1 .card .card_box .accessibility {
  margin-top: 40px;
  padding: 60px 10px 20px 10px;
  border: 1px solid #F3D1BF;
  border-radius: 0px 6px 6px 0px;
}
.container .container_all main .main_section1 .section1 .card .card_box .accessibility .card_box_text {
  max-width: 154px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .card .card_box .accessibility .same {
  max-width: 240px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.container .container_all main .main_section1 .section1 .digital {
  display: flex;
  margin-top: 200px;
}
.container .container_all main .main_section1 .section1 .digital .digital_text .digital_service {
  max-width: 78px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section1 .digital .digital_text .digital_making {
  max-width: 463px;
  width: 100%;
  font-weight: 800;
  font-size: 56px;
  line-height: 55px;
  letter-spacing: -1px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .digital .digital_text .digital_agency {
  max-width: 470px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
  margin-top: 20px;
}
.container .container_all main .main_section1 .section1 .digital .digital_text .digital_text_profil {
  display: flex;
  padding-top: 20px;
  gap: 20px;
}
.container .container_all main .main_section1 .section1 .digital .digital_text .digital_text_profil .digital_pp {
  display: flex;
  flex-direction: column;
}
.container .container_all main .main_section1 .section1 .digital .digital_text .digital_text_profil .digital_pp .understanding {
  max-width: 386px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(57, 20, 0, 0.64);
}
.container .container_all main .main_section1 .section1 .digital .digital_text button {
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  padding: 10px;
  margin-top: 30px;
}
.container .container_all main .main_section1 .section1 .digital .digital_text button .explore {
  background: #FFFFFF;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_text .our_home_text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_text .our_agency_service {
  max-width: 78px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_text .our_agency_help {
  max-width: 336px;
  width: 100%;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_table {
  margin-top: 30px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  border-radius: 6px 6px 0px 0px;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design {
  width: 100%;
  max-width: 586px;
  padding: 30px;
  border: 1px solid #F3D1BF;
  box-sizing: border-box;
  border-radius: 6px 6px 0px 0px;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design .our_agency_design_personal {
  display: flex;
  text-align: center;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design .our_agency_design_personal .oval_home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EF6C57;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design .our_agency_design_personal .path_home {
  position: absolute;
  max-width: 20px;
  width: 100%;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design .our_agency_design_personal .letter_home {
  position: absolute;
  max-width: 20px;
  width: 100%;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design .our_agency_table_personal {
  display: flex;
  align-items: center;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design .our_agency_table_personal .oval_home {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design .our_agency_table_personal .oval_home .path_home {
  background-color: #EF6C57;
  position: absolute;
  width: 12px;
  height: 2px;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design .our_agency_table_personal .oval_home .path_home2 {
  background-color: #EF6C57;
  position: absolute;
  width: 12px;
  height: 2px;
  transform: rotate(90deg);
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design .text_2 {
  max-width: 294px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  margin-top: 10px;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design .text_3 {
  max-width: 89px;
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  color: #391400;
  margin-left: 5px;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_want {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_want .want {
  max-width: 157px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: right;
  color: rgba(57, 20, 0, 0.64);
}
.container .container_all main .main_section1 .section1 .our_agency .our_agency_want .explore_now {
  max-width: 96px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section_latest_work {
  max-width: 1440px;
  width: 100%;
  background-color: #28293E;
  color: #FFFFFF;
  margin-top: 50px;
}
.container .container_all main .main_section1 .section_latest_work .latest {
  margin: 0 auto;
  max-width: 1000px;
  padding: 100px 50px;
  width: 100%;
}
.container .container_all main .main_section1 .section_latest_work .latest .section_latest_work_first .portfolio {
  max-width: 104px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section_latest_work .latest .section_latest_work_second {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.container .container_all main .main_section1 .section_latest_work .latest .section_latest_work_second .latest_work {
  width: 342px;
  width: 100%;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #FFFFFF;
}
.container .container_all main .main_section1 .section_latest_work .latest .section_latest_work_second .explore_more {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 6px;
  color: #FFFFFF;
  width: 170px;
  background-color: #28293E;
}
.container .container_all main .main_section1 .section_latest_work .section_latest_work_image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1170px;
}
.container .container_all main .main_section1 .section_latest_work .section_latest_work_image .overlay_img {
  width: 100%;
  padding: 20px;
  border: 1px solid #3A3C56;
}
.container .container_all main .main_section1 .section_latest_work .section_latest_work_image .overlay_img .latest_overlay_img {
  width: 100%;
  max-width: 340px;
}
.container .container_all main .main_section1 .section_latest_work .section_latest_work_image .overlay_img .illustration {
  position: absolute;
  padding-left: 40px;
}
.container .container_all main .main_section1 .section_latest_work .section_latest_work_image .overlay_img .illustration .branding {
  position: absolute;
  bottom: 150px;
  color: #000000;
  padding: 12px;
  border-radius: 19px;
  background: #FFFFFF;
}
.container .container_all main .main_section1 .section_latest_work .section_latest_work_image .overlay_img .illustration .sofa {
  width: 200px;
  position: absolute;
  bottom: 70px;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
}
.container .container_all main .main_section1 .section_professional_web {
  max-width: 1440px;
  width: 100%;
  background-color: #FDF0E9;
  padding: 120px 0px 50px 0;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_first {
  display: flex;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_image {
  width: 50%;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_image .section_professional_web_image_pic {
  width: 100%;
  max-width: 500px;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_text {
  width: 50%;
  max-width: 500px;
  margin-left: 20px;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_text .gabriel {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_text .professional {
  max-width: 450px;
  width: 100%;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #391400;
  padding: 15px 0px;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_text .provides {
  max-width: 277px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_text .ability {
  max-width: 470px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  padding: 15px 0px;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_text .about_me {
  color: #000000;
  background: #FFFFFF;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  padding: 10px 20px;
  border: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #391400;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_second {
  padding: 80px 50px 10px 50px;
  width: 100%;
  max-width: 1170px;
  display: flex;
  margin: 0 auto;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_second .years {
  padding: 30px;
  max-width: 500px;
  width: 50%;
  display: flex;
  border: 1px solid #F3D1BF;
  border-radius: 6px 0px 0px 6px;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_second .years .years_oval {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EF6C57;
  width: 112px;
  height: 112px;
  border-radius: 50%;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_second .years .years_oval .combined_shape {
  width: 100%;
  max-width: 48px;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_second .years .years_text {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_second .years .years_text .years_text_number {
  max-width: 77px;
  width: 100%;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
}
.container .container_all main .main_section1 .section_professional_web .section_professional_web_second .years .years_text .years_text_project {
  max-width: 198px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section_your_site {
  display: flex;
  background-color: #3A3C56;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 100px;
}
.container .container_all main .main_section1 .section_your_site .section_your_site_text .features {
  max-width: 93px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section_your_site .section_your_site_text .give {
  max-width: 397px;
  width: 100%;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #FFFFFF;
  padding: 50px 0px;
}
.container .container_all main .main_section1 .section_your_site .section_your_site_text .including {
  max-width: 470px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}
.container .container_all main .main_section1 .section_your_site .section_your_site_text .your_site_list_ul {
  list-style-type: none;
  margin-top: 26px;
}
.container .container_all main .main_section1 .section_your_site .section_your_site_text .your_site_list_ul li {
  display: flex;
  list-style-type: none;
  gap: 20px;
  text-align: center;
}
.container .container_all main .main_section1 .section_your_site .section_your_site_text .your_site_list_ul li .li_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}
.container .container_all main .main_section1 .section_your_site .section_your_site_text .your_site_list_ul li i {
  margin-bottom: 13px;
  border-radius: 50%;
  color: #FDF0E9;
  background: #EF6C57;
  border: none;
  border: 1px solid #EF6C57;
}
.container .container_all main .main_section1 .section_your_site .section_your_site_image {
  max-width: 500px;
}
.container .container_all main .main_section1 .section_help_companies {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  background-color: #F3D1BF;
}
.container .container_all main .main_section1 .section_help_companies .section_star {
  width: 148px;
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -67px;
}
.container .container_all main .main_section1 .section_help_companies .section_star .star {
  position: relative;
}
.container .container_all main .main_section1 .section_help_companies .section_star .gift {
  position: absolute;
}
.container .container_all main .main_section1 .section_help_companies .move_faster {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container .container_all main .main_section1 .section_help_companies .move_faster .help_companies_move {
  padding-right: 90px;
}
.container .container_all main .main_section1 .section_help_companies .move_faster .help_companies_move .get_started {
  max-width: 144px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section_help_companies .move_faster .help_companies_move .move {
  padding: 20px 0px;
  max-width: 217px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section_help_companies .move_faster .help_companies_move .section_help_move_btn {
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  padding: 5px 15px;
  background-color: #EF6D58;
}
.container .container_all main .main_section1 .section_client_saying {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FDF0E9;
  padding: 100px 150px;
}
.container .container_all main .main_section1 .section_client_saying .testimonials {
  max-width: 138px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section_client_saying .clients {
  max-width: 450px;
  width: 100%;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -1px;
  color: #391400;
  padding: 30px 0px 50px 0px;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card {
  display: flex;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_graham {
  padding: 40px;
  border: 1px solid #F3D1BF;
  border-radius: 6px 0px 0px 6px;
  max-width: 400px;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_graham .client_card_text {
  padding: 20px 0px 60px 0px;
  max-width: 295px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(57, 20, 0, 0.64);
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_graham .client_card_portfolio {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_graham .client_card_portfolio .client_card_portfolio_text .name {
  width: 100%;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_graham .client_card_portfolio .client_card_portfolio_text .surname {
  max-width: 49px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_alan {
  padding: 40px;
  border: 1px solid #F3D1BF;
  border-radius: 6px 0px 0px 6px;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_alan .client_card_text {
  padding: 20px 0px 60px 0px;
  max-width: 295px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(57, 20, 0, 0.64);
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_alan .client_card_portfolio {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_alan .client_card_portfolio .client_card_portfolio_text .name {
  width: 100%;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_alan .client_card_portfolio .client_card_portfolio_text .surname {
  max-width: 70px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_kann {
  padding: 40px;
  border: 1px solid #F3D1BF;
  border-radius: 6px 0px 0px 6px;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_kann .client_card_text {
  padding: 20px 0px 60px 0px;
  max-width: 295px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_kann .client_card_portfolio {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_kann .client_card_portfolio .client_card_portfolio_text .name {
  width: 100%;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_card .client_card_kann .client_card_portfolio .client_card_portfolio_text .surname {
  max-width: 49px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_btn {
  margin: 20px;
}
.container .container_all main .main_section1 .section_client_saying .section_client_saying_btn .client_btn {
  padding: 10px 20px;
  color: #000000;
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
}
.container .container_all main .main_section1 .section_frequently_asked {
  background-color: #3A3C56;
  padding: 50px 23px;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq {
  display: flex;
  padding: 50px;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .section_frequently_asked_question {
  width: 50%;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .section_frequently_asked_question .faq {
  max-width: 34px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .section_frequently_asked_question .frequently {
  max-width: 371px;
  width: 100%;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  padding: 40px 0px;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .section_frequently_asked_question .digital {
  max-width: 470px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .section_frequently_asked_question .contact_me {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  border: none;
  margin-top: 20px;
  background-color: #3A3C56;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .section_frequently_asked_digital_card {
  width: 50%;
  color: #FFFFFF;
  border: 1px solid #616272;
  border-radius: 0px 0px 6px 6px;
  width: 600px;
  height: 300px;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .section_frequently_asked_digital_card .agency {
  padding: 20px;
  border-bottom: 1px solid #616272;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .section_frequently_asked_digital_card .agency .agency_text {
  display: flex;
  justify-content: space-between;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .section_frequently_asked_digital_card .agency .agency_text p {
  max-width: 361px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .section_frequently_asked_digital_card .agency .agency_text .agency_icon {
  display: flex;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .section_frequently_asked_digital_card .agency .agency_text .agency_icon .agency_icon_up {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #EF6C57;
  border-radius: 50%;
  color: #FFFFFF;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .section_frequently_asked_digital_card .agency .agency_text .agency_icon .agency_icon_down {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #EF6C57;
  border-radius: 50%;
  color: #FFFFFF;
  display: none;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .section_frequently_asked_digital_card .agency .agency_about {
  display: none;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .hire {
  padding: 20px;
  border-bottom: 1px solid #616272;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .hire .hire_text {
  display: flex;
  justify-content: space-between;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .hire .hire_text p {
  max-width: 361px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .hire .hire_text .hire_icon {
  display: flex;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .hire .hire_text .hire_icon .hire_icon_up {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #EF6C57;
  border-radius: 50%;
  color: #FFFFFF;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .hire .hire_text .hire_icon .hire_icon_down {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #EF6C57;
  border-radius: 50%;
  color: #FFFFFF;
  display: none;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .hire .hire_about {
  display: none;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .efforts {
  padding: 20px;
  border-bottom: 1px solid #616272;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .efforts .efforts_text {
  display: flex;
  justify-content: space-between;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .efforts .efforts_text p {
  max-width: 361px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .efforts .efforts_text .efforts_icon {
  display: flex;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .efforts .efforts_text .efforts_icon .efforts_icon_up {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #EF6C57;
  border-radius: 50%;
  color: #FFFFFF;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .efforts .efforts_text .efforts_icon .efforts_icon_down {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #EF6C57;
  border-radius: 50%;
  color: #FFFFFF;
  display: none;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .efforts .effort_about {
  display: none;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .can {
  padding: 20px;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .can .can_text {
  display: flex;
  justify-content: space-between;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .can .can_text p {
  max-width: 361px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .can .can_text .can_icon {
  display: flex;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .can .can_text .can_icon .can_icon_up {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #EF6C57;
  border-radius: 50%;
  color: #FFFFFF;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .can .can_text .can_icon .can_icon_down {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #EF6C57;
  border-radius: 50%;
  color: #FFFFFF;
  display: none;
}
.container .container_all main .main_section1 .section_frequently_asked .section_frequently_faq .can .can_about {
  display: none;
}
.container .container_all main .main_section1 .section_frequently_asked .design_agency .design_agency__logo {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.container .container_all main .main_section1 .section_newsletter {
  background-color: #FDF0E9;
  padding: 50px 23px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container .container_all main .main_section1 .section_newsletter .section_newsletter_text .newsletter {
  max-width: 137px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
}
.container .container_all main .main_section1 .section_newsletter .section_newsletter_text .outsource {
  max-width: 403px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.container .container_all main .main_section1 .section_newsletter .section_newsletter_input {
  display: flex;
  gap: 20px;
}
.container .container_all main .main_section1 .section_newsletter .section_newsletter_input form .email {
  max-width: 400px;
  max-height: 100vh;
  padding: 10px;
}
.container .container_all main .main_section1 .section_newsletter .section_newsletter_input .subscribe {
  padding: 5px 10px;
  background-color: #FFFFFF;
  color: #391400;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  border: 1px solid #391400;
}
.container .container_all main .main_section1 .section_getInTouch {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  background-color: #3A3C56;
  padding: 100px 50px;
}
.container .container_all main .main_section1 .section_getInTouch .section_getInTouch_input {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 30px;
  width: 100%;
  max-width: 500px;
  max-height: 400px;
  height: 100vh;
}
.container .container_all main .main_section1 .section_getInTouch .section_getInTouch_input .getInTouch_input {
  max-height: 300px;
  height: 100vh;
}
.container .container_all main .main_section1 .section_getInTouch .section_getInTouch_input .getInTouch_input .get_inTouch {
  max-width: 153px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  display: flex;
  flex-direction: column;
}
.container .container_all main .main_section1 .section_getInTouch .section_getInTouch_input .getInTouch_input .form {
  margin-top: 10px;
}
.container .container_all main .main_section1 .section_getInTouch .section_getInTouch_input .getInTouch_input .form .email {
  padding: 5px 30px 5px 5px;
  width: 100%;
}
.container .container_all main .main_section1 .section_getInTouch .section_getInTouch_input .getInTouch_input .form .subject {
  padding: 5px 30px 5px 5px;
  width: 100%;
}
.container .container_all main .main_section1 .section_getInTouch .section_getInTouch_input .getInTouch_input .form .message {
  padding: 5px 30px 50px 5px;
  width: 100%;
}
.container .container_all main .main_section1 .section_getInTouch .section_getInTouch_input .getInTouch_input .submit_now {
  color: #FFFFFF;
  padding: 5px 10px;
  background: #EF6D58;
  border-radius: 6px;
  border: none;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.container .container_all main .main_section1 .section_getInTouch .section_getInTouch_contact_me .section_getInTouch_contact_me_contact {
  max-width: 86px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.container .container_all main .main_section1 .section_getInTouch .section_getInTouch_contact_me .section_getInTouch_contact_me_text {
  max-width: 500px;
  width: 100%;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #FFFFFF;
  padding: 20px 0px;
}
.container .container_all main .main_section1 .section_getInTouch .section_getInTouch_contact_me .section_getInTouch_contact_me_about {
  max-width: 470px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
  padding: 20px 0px;
}
.container .container_all main .main_section1 .section_getInTouch .section_getInTouch_contact_me .section_getInTouch_contact_me_news {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #FFFFFF;
}
.container .container_all main .main_section1 .section_getInTouch .section_getInTouch_contact_me .section_getInTouch_contact_me_news .section_getInTouch_contact_me_oval {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #EF6D58;
  margin: 10px 0px;
}

.our_agency_design .text_1 {
  max-width: 83px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  margin-left: 10px;
}

@media only screen and (max-width: 680px) {
  .container {
    position: relative;
  }
  .container .container_all .container_contant {
    padding: 0 23px;
  }
  .container .container_all .container_contant header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .container .container_all .container_contant header .navbar .navbar_title {
    display: none;
  }
  .container .container_all .container_contant header .navbar .navbar_contact_btn .contact {
    display: none;
  }
  .container .container_all .container_contant header .navbar .navbar_contact_btn .menu {
    display: block !important;
  }
  .container .container_all .container_contant header .box1 {
    display: flex;
    flex-direction: column;
    padding-top: 50px !important;
  }
  .container .container_all .container_contant header .box1 .box1_text1 {
    display: block;
    width: 100%;
  }
  .container .container_all .container_contant header .box1 .box1_text1 .modern {
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .container .container_all .container_contant header .box1 .box1_text1 .help {
    width: 100%;
    font-weight: 800;
    font-size: 40px !important;
    line-height: 50px;
    letter-spacing: -1px;
    padding-top: 10px;
  }
  .container .container_all .container_contant header .box1 .box1_text1 .agency {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding-top: 10px;
  }
  .container .container_all .container_contant header .box1 .box1_text1 .btn_1 {
    padding-top: 10px;
    font-size: 32px;
  }
  .container .container_all .container_contant header .box1 .box1_text1 .btn_1 .how_we_work {
    padding: 4px;
    line-height: 20px;
    font-size: 10px;
  }
  .container .container_all .container_contant header .box1 .box1_text1 .contact_us {
    font-size: 10px;
    line-height: 10px;
  }
  .container .container_all .container_contant header .box1_images {
    padding-top: 30px;
    width: 100%;
    max-width: 329px;
  }
  .container .container_all .container_contant header .profil {
    padding-top: 5px;
  }
  .container .container_all .container_contant header .profil .profil_text .put {
    padding-bottom: 2px;
    line-height: 20px;
    font-size: 10px;
  }
  .container .container_all main .main_section1 .section1 .our_agency .our_agency_text .our_home_text .our_agency_help {
    font-size: 30px;
  }
  .container .container_all main .main_section1 .section1 .our_agency .our_agency_text .our_home_text .our_agency_service {
    max-width: 78px;
    width: 100%;
    font-size: 10px;
    color: #EF6D58;
  }
  .container .container_all main .main_section1 .section1 .our_agency .our_agency_table {
    display: flex;
    flex-direction: column;
  }
  .container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design {
    border: 1px solid #EF6C57;
  }
  .container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design .our_agency_design_personal {
    width: 100%;
  }
  .container .container_all main .main_section1 .section1 .our_agency .our_agency_table .our_agency_design .our_agency_design_personal .text_1 {
    font-size: 15px;
    margin-top: 0px;
  }
  .container .container_all main .main_section1 .section1 .our_agency .our_agency_want {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container .container_all main .main_section1 .section1 .our_agency .our_agency_want .want {
    font-size: 13px;
    text-align: center;
  }
  .container .container_all main .main_section1 .section1 .our_agency .our_agency_want .explore_now {
    font-size: 13px;
  }
  .container .container_all main .main_section1 .section_latest_work .latest {
    padding: 30px 20px;
  }
  .container .container_all main .main_section1 .section_latest_work .latest .section_latest_work_first .portfolio {
    font-size: 16px;
  }
  .container .container_all main .main_section1 .section_latest_work .latest .section_latest_work_second {
    display: flex;
    flex-direction: column;
  }
  .container .container_all main .main_section1 .section_latest_work .latest .section_latest_work_second .latest_work {
    font-size: 30px;
  }
  .container .container_all main .main_section1 .section_latest_work .latest .section_latest_work_second .explore_more {
    margin-top: 20px;
    width: 100px;
  }
  .container .container_all main .main_section1 .section_latest_work .section_latest_work_image {
    display: flex;
    flex-direction: column;
  }
  .container .container_all main .main_section1 .section_latest_work .section_latest_work_image .overlay_img .latest_overlay_img {
    max-width: 230px;
  }
  .container .container_all main .main_section1 .section_latest_work .section_latest_work_image .overlay_img .illustration .branding {
    padding: 5px;
    bottom: 90px;
  }
  .container .container_all main .main_section1 .section_latest_work .section_latest_work_image .overlay_img .illustration .sofa {
    font-size: 32px;
    bottom: 20px;
    line-height: 22px;
  }
  .container .container_all main .main_section1 .section_professional_web {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .container .container_all main .main_section1 .section_professional_web .section_professional_web_first {
    display: flex;
    flex-direction: column;
  }
  .container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_image {
    width: 100%;
  }
  .container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_image .section_professional_web_image_pic {
    width: 100%;
  }
  .container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_text .gabriel {
    width: 100%;
    font-size: 16px;
    letter-spacing: 0;
  }
  .container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_text .professional {
    width: 100%;
    max-width: 250px;
    font-size: 35px;
    letter-spacing: 0;
    line-height: 40px;
  }
  .container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_text .provides {
    font-size: 20px;
    line-height: 20px;
  }
  .container .container_all main .main_section1 .section_professional_web .section_professional_web_first .section_professional_web_text .ability {
    font-size: 16px;
    line-height: 20px;
  }
  .container .container_all main .main_section1 .section_professional_web .section_professional_web_second {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .container .container_all main .main_section1 .section_professional_web .section_professional_web_second .years {
    width: 100%;
    padding: 5px;
  }
}/*# sourceMappingURL=main.css.map */