$color_1: white;
$color_2: #FFFFFF;
$color_3: #EF6D58;
$color_4: rgba(255, 255, 255, 0.64);
$color_5: #391400;
$color_6: rgba(57, 20, 0, 0.64);
$color_7: #FDF0E9;
$font-family_1: sans-serif;
$background-color_1: #28293E;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
