*{
    font-family: "Mukta Mahee", arial, sans-serif;
}

a{
    text-decoration: none;
}
.contant{
    width: 100%;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
}
li{
    list-style-type: none;
}