*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    background-color: rgb(243, 216, 183);
}
nav{
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding-top: 0px;
   padding-left: 5%;
   padding-right: 5%;
   z-index: 1;
  gap: 280px;
}
.logo{
    color:black;
    font-size: 35px;
}
h2{
    text-shadow: 2px 2px #b5b0b0ec;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-size: large;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
nav ul li a:hover{
    color: darkorange;
    transition: 400ms;
}
section{
    display: flex;
    align-items: center;
 
}
.about_me{
    text-align: center;
}
.hello{
    padding-top: 40px;
    text-align: left;
  margin-left: 20%;
  margin-right: 20%;
 font-size: 25px;
}
span{
    color: darkorange;
}
hr{
    margin-left: 730px;
    height: 1px;
     width: 70px;
     border: 2px solid  darkorange;
 }
 h1{
   margin-top: 60px;
   font-size: 70px; 
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: black;
    color: rgb(163, 158, 158) ;
}
.icon>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    display: initial;
    font-size: 20px;
    margin-top: 20px;
    gap: 30px;
    color: darkorange;
}
.icon{
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    gap: 40px;
    text-decoration: none;
    list-style-type: none;
}
.text3{
    padding-top: 10px;
    font-size: 20px;
}