.nav {
max-width: 1530px;
max-height: 48px;
margin: 0 auto;
    background-color: green;
    .container {
        max-width: 1128px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .phone_number {
            .section1 {
                color: white;
               padding-top: 10px;
                display: flex;
                gap: 8px;
            }
        }

        .teg {
            .section2 {
 ul {
                    list-style-type: none;
                    display: flex;
                    gap: 8px;
                    color: white;
                    opacity: 80%;
                    padding-top: 10px;
                }
            }
        }
        @media screen and (max-width: 768px){
            .nav .container {
                display: flex;
                flex-direction: column;

            }
        }
    }

    .container_1 {
        max-width: 1128px;
        margin: 0 auto;
        display: flex;
     flex-direction: column;
     padding: 32px 0 35px 0;
        .hero{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 35px;
        }

        #home1 {
            #logo {
                font-size: 30px;
                font-weight: bolder;
            }
        }

        #home2 {
            display: flex;
            align-items: center;

            .btn {
                display: flex;
                align-items: center;
             #search {
                    // padding-right: 50px;

                    input {
                        padding: 6px;
                        border: none;
                        font-size: 17px;
                        background-color: rgba(65, 64, 64, 0.116);
                        padding-right: 200px;
                        max-width: 504px;
                        max-height: 48px;
                    }
                    .btn1{
                        padding: 6px;
                        float: right;
                        font-size: 17px;
                        border-style: none;
                        background-color: rgba(65, 64, 64, 0.116);
                    }
                }

                #teg_1 {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-left: 100px;
                    @media (max-width: 768px) {
                        flex-direction: column;
                        row-gap: 20px;
                      }
                    .sign_up {
                        display: flex;
                        gap: 8px;
                    }

                    .wishlist {
                        display: flex;
                        gap: 8px;
                    }

                    .basket {
                        display: flex;
                        gap: 8px;
                    }

                }
            }
        }

    }
    // @media (max-width: 768px) {
    //     flex-direction: column;
    //     row-gap: 20px;
    //   }
}
.content{
    ul{
        list-style-type: none;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 10px 0;
    }
}
